<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact List</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="max-w-5xl mx-auto space-y-10 mt-10">  
        <!-- Navigation Bar       -->
          <div class="flex items-center gap-2 bg-indigo-500 text-white">
            <a href="https://code.codewithus.com/@Veera/VeeraWS.main/apps/code-server/proxy/5000/" class="p-2 hover:bg-indigo-700">Index</a>
            <a href="contact" class="p-2 hover:bg-indigo-700">Contact</a>
            <a href="contact_list" class="p-2 bg-indigo-600 hover:bg-indigo-700">Contact List</a>
          </div>
          <!-- Content -->
          <h1 class="text-3xl font-bold">Contact Us List Page</h1>
          <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black/5 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>                         
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Message</th>                     
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                      <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Lindsay Walton</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">email@gmail.com</td>
                        <td class="whitespace-pre-wrap px-3 py-4 text-sm text-gray-500">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>   
                      </tr>          
                      <!-- More people... -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>          
          <!-- Footer Section -->
          <footer class="bg-black text-white text-center p-5">
            <h2>My Flask App @ 2024</h2>
        </footer>
    </div>
   
</body>
</html>